data/dataset/SVHN/test_32x32.mat
data/dataset/SVHN/train_32x32.mat
data/dataset/SVHN/lmdb/
data/dataset/MNIST/lmdb/
data/dataset/MNIST-M/*
model_0/
__pycache__/
data/__pycache__/
loss_function/__pycache__/
.idea